aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1739175731979/work
aiohttp @ file:///D:/bld/aiohttp_1738823099295/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
altair==5.5.0
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anthropic @ file:///home/conda/feedstock_root/build_artifacts/anthropic_1738081309277/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1733215607532/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
audioread @ file:///D:/bld/audioread_1725357575836/work
av==14.1.0
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1741743869738/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1741739279902/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachelib==0.9.0
cachetools==5.5.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///D:/bld/cffi_1725560792189/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///D:/bld/click_1734858834134/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs==15.0.1
contourpy @ file:///D:/bld/contourpy_1727293720916/work
coverage==5.5
cryptography @ file:///D:/bld/cryptography-split_1739298970040/work
ctranslate2==4.5.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1691593734461/work
DBUtils==3.1.0
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
deprecation==2.1.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1690101045195/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1741616155630/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
ecdsa @ file:///home/conda/feedstock_root/build_artifacts/ecdsa_1734084013302/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
eyed3==0.9.7
faiss==1.9.0
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi_1738326226/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
faster-whisper==1.1.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
filetype==1.2.0
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1731556349671/work
Flask-Caching==2.3.0
flatbuffers==25.2.10
fonttools @ file:///D:/bld/fonttools_1738940316858/work
frozenlist @ file:///D:/bld/frozenlist_1737645251161/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1738501244951/work
gensim==4.3.3
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///D:/bld/gmpy2_1733462583500/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hmmlearn==0.3.3
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httptools @ file:///D:/bld/httptools_1732707671689/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1738349326790/work
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
jiter @ file:///D:/bld/jiter_1734065512852/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1733229141657/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver @ file:///D:/bld/kiwisolver_1725459303250/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1733636780672/work
librosa @ file:///home/conda/feedstock_root/build_artifacts/librosa_1734618355842/work
llvmlite==0.43.0
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///D:/bld/markupsafe_1733219648915/work
matplotlib==3.9.4
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///D:/bld/msgpack-python_1725975146286/work
multidict @ file:///D:/bld/multidict_1729065613552/work
multiprocess @ file:///D:/bld/multiprocess_1695459030742/work
munkres==1.1.4
mysql==0.0.3
mysql-connector-python==9.2.0
mysqlclient==2.2.7
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1741613434061/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numba @ file:///D:/bld/numba_1718888166681/work
numpy @ file:///D:/bld/numpy_1707225561314/work/dist/numpy-1.26.4-cp39-cp39-win_amd64.whl#sha256=af5f40857bb7ceb2d3be562fa763863d2f954c104873e89b8ee370f75e047ecf
onnxruntime==1.19.2
optree @ file:///D:/bld/optree_1737742748614/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///D:/bld/pandas_1736810660203/work
pillow @ file:///D:/bld/pillow_1735929718993/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1738287743623/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1733421311631/work
praw==7.8.1
prawcore==2.4.0
propcache @ file:///D:/bld/propcache_1737635563200/work
protobuf==5.29.3
psutil==7.0.0
pyarrow==19.0.0
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1733217608156/work
pyAudioAnalysis==0.3.14
pybind11 @ file:///D:/bld/pybind11-split_1730237329882/work
pybind11_global @ file:///D:/bld/pybind11-split_1730237329882/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1737761369378/work
pydantic_core @ file:///D:/bld/pydantic-core_1734571393136/work
pydeck==0.9.1
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1734638032476/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1732782409051/work
PyMySQL @ file:///home/conda/feedstock_root/build_artifacts/pymysql_1734209850979/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyreadline3==3.5.4
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pyswisseph==2.10.3.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-jose @ file:///home/conda/feedstock_root/build_artifacts/python-jose_1734633112391/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///D:/bld/pyyaml_1737454672828/work
redis==5.2.1
referencing==0.36.2
regex @ file:///D:/bld/regex_1730952193828/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
rpds-py==0.23.1
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1733662684165/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1737737761316/work
safetensors @ file:///D:/bld/safetensors_1736382950153/work
scikit-learn @ file:///D:/bld/scikit-learn_1736496793625/work/dist/scikit_learn-1.6.1-cp39-cp39-win_amd64.whl#sha256=bb1e08460161bd7b8163df245d711be5c4d65ff892d330db2e71295806b53f85
scipy @ file:///C:/bld/scipy-split_1716470385682/work/dist/scipy-1.13.1-cp39-cp39-win_amd64.whl#sha256=490e922ef930c40e74290d95915a98295b9059d02849059317bab82ba7810581
sentence-transformers @ file:///home/conda/feedstock_root/build_artifacts/sentence-transformers_1738211130290/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
simplejson==3.20.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smart-open==7.1.0
smmap==5.0.2
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
soundfile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1737836266465/work
soxr @ file:///D:/bld/soxr-python_1725345578135/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1734007102193/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1737823930525/work
streamlit==1.43.2
sympy==1.13.1
tenacity==9.0.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tokenizers @ file:///D:/bld/tokenizers_1732733992204/work/bindings/python
toml==0.10.2
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado==6.4.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1739826231190/work
typer==0.15.1
typer-slim==0.15.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///D:/bld/unicodedata2_1736692548847/work
update-checker==0.18.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1718728347128/work
uvicorn @ file:///D:/bld/uvicorn_1734292951833/work
watchdog==6.0.0
watchfiles @ file:///D:/bld/watchfiles_1736550421787/work
webrtcvad @ file:///D:/bld/webrtcvad_1725659469570/work
websocket-client==1.8.0
websockets @ file:///D:/bld/websockets_1737358178790/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt==1.17.2
xxhash @ file:///D:/bld/python-xxhash_1725272233714/work
yarl @ file:///D:/bld/yarl_1737575973975/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
